.grid {
    padding: 10px;
    overflow-x: auto;
}

.grid table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.grid th {
    background-color: rgb(68, 104, 170);
    color: white;
}

.grid table {
    width: 100%;
}

.grid tr:nth-child(even) {
    background-color: #ecc7a9;
}

.grid .pager {
    display: flex;
    justify-content: center;
}

.grid .pager-button {
    display: inline-block;
    padding: 0.25rem;
    margin: 0.25rem;
    color: white;
    background-color: rgb(39, 8, 80);
}

.grid .buttontd {
    width: 1%;
    white-space: nowrap;
}